body {
    background-color: rgb(209, 186, 231);
}

h1 {
    color: purple;
    background-color: rgb(209, 186, 231);
    font-size: 50px;
    margin-left: 50px;
}

#show_sketch {
    float: right;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px pink;
    }
    to {
        box-shadow: 1px 1px 38px yellow;
    }
}

p {
    padding-top: 30px;
    font-size: 30px;
}